In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\dassi\Downloads\table_finale_final_df.csv')
display(df.head(2))

,adult,tconst,overview,poster_path,production_countries,production_companies_name,averageRating,category,primaryName,birthYear,genres,titles,languages_combined,votes,runtime,start_year
0,False,tt0035423,When her scientist ex-boyfriend discovers a po...,/mUvikzKJJSg9khrVdxK8kg3TMHA.jpg,['US'],"['Konrad Pictures', 'Miramax']",6.400675,actor,Unknown,1981.0,"['Romance', 'Fantasy', 'Comedy'],",Kate & Leopold -,"['en', 'fr', 'it'],",6.326 /,/ 118.0,2001.0 -
1,False,tt0097106,The story of an introverted young girl just r...,/bP2qpuzQPBBBJa4kOhvLvOOiASq.jpg,['FR'],"['Les Films du Losange', 'Investimage', 'Compa...",6.400675,actor,Unknown,1981.0,"['Comedy', 'Drama', 'Romance'],",A Tale of Springtime -,"['fr'],",6.9 /,/ 103.0,1990.0 -

In [2]:
print(df.columns)

Index(['adult', 'tconst', 'overview', 'poster_path', 'production_countries',
       'production_companies_name', 'averageRating', 'category', 'primaryName',
       'birthYear', 'genres', 'titles', 'languages_combined', 'votes',
       'runtime', 'start_year'],
      dtype='object')

In [3]:
# Nettoyage de la colonne 'votes'
df['votes'] = df['votes'].str.extract(r'(\d+\.\d+|\d+)').astype(float)  # Extraire les nombres uniquement

In [5]:
print(df.dtypes)

adult                           bool
tconst                        object
overview                      object
poster_path                   object
production_countries          object
production_companies_name     object
averageRating                float64
category                      object
primaryName                   object
birthYear                    float64
genres                        object
titles                        object
languages_combined            object
votes                        float64
runtime                       object
start_year                    object
dtype: object

In [6]:
print(df['votes'].unique())

[6.326 6.9   3.    ... 7.659 7.072 5.328]

In [7]:
# Remplacer les valeurs infinies ou aberrantes par NaN
df['votes'].replace([float('inf'), -float('inf')], float('nan'), inplace=True)

# Supprimer ou remplacer les NaN
df['votes'].fillna(df['votes'].median(), inplace=True)

C:\Users\dassi\AppData\Local\Temp\ipykernel_36108\3208121625.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['votes'].replace([float('inf'), -float('inf')], float('nan'), inplace=True)
C:\Users\dassi\AppData\Local\Temp\ipykernel_36108\3208121625.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['votes'].fillna(df['votes'].median(), inplace=True)

In [8]:
df['votes'] = pd.to_numeric(df['votes'], errors='coerce')

In [10]:
print(df_train.dtypes)  # Vérifie le type de chaque colonne

NameError: name 'df_train' is not defined

In [11]:
# Extraire uniquement les nombres dans 'runtime'
df['runtime'] = df['runtime'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

# Vérifier la conversion
print(df['runtime'].unique())

[118. 103.  95.  99. 107. 300.  89.  98.  92.  87.  78. 110. 137. 101.
  96.  88.  90.   8. 105. 108. 117.  82.  85. 138. 112.  91. 111.  93.
 100. 158.  84. 119. 125. 129.   0. 104. 102. 127. 135. 210. 114. 120.
   9.  80.  97.  45.  86. 160.  94. 298.  81. 116.  69.  28.  46. 177.
 133. 106.  61. 109. 124. 169.  74. 170. 140.  79.  83. 178. 113. 122.
 123.  53. 148. 128. 115.  75.   6.  25. 141.   4.  20.  70.  65.  19.
  67.   5.  15. 130.  16.  50.  13. 143. 121. 154.  68.  55.  47.  76.
  10.  31. 126.  37.  17.  21.  27.  11.  32.  72. 157. 150.  77.  58.
   7. 144.  57. 180. 205. 200.  12.  14. 139. 136. 145. 131. 168.  38.
  48.  62. 134.  40.  42.  41.  24.  43.  23.  22. 450. 152.  18.  26.
  73.  54.  63.  30.  29. 132.   3.   2. 155. 142.  52.  56.  64. 156.
  51.  33.  35.  60.  66.  36. 163.  59.  71. 162. 194. 147.  34.  44.
 206. 212. 240.]

In [12]:
# Nettoyer la colonne 'start_year' pour ne garder que les valeurs numériques
df['start_year'] = df['start_year'].str.extract(r'(\d+)', expand=False).astype(float)

# Vérifier les valeurs uniques de la colonne 'start_year'
print(df['start_year'].unique())

[2001. 1990. 1991. 1992. 1993. 1994. 1995. 1996. 1997. 1998. 1999. 2002.
 2003. 2000. 2004. 2007. 2005. 2012. 2006. 2008. 2009. 2010. 2011. 2022.
 2021. 2013. 2020. 2019. 2018. 2023. 2016. 2014. 2015. 2017.]

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.cluster import KMeans

In [18]:
# Sélectionner uniquement les colonnes numériques
X = df[['averageRating', 'votes', 'runtime', 'start_year']]  # Adapter selon les features choisies

# Standardiser les caractéristiques
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Séparer en jeu d'entraînement et test
X_train, X_test = train_test_split(X_scaled, test_size=0.2, random_state=42)

In [20]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Sélectionner les colonnes numériques
X = df[['averageRating', 'votes', 'runtime', 'start_year']]  # Adapter selon vos données

# Encoder la colonne cible
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(df['category'])  # Remplacer 'category' par votre colonne cible

# Standardiser les caractéristiques
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Appliquer le modèle KNN
knn = KNeighborsClassifier(n_neighbors=5)  # Ajuster n_neighbors selon le besoin
knn.fit(X_train, y_train)

# Prédire sur l'ensemble de test
y_pred = knn.predict(X_test)

# Évaluer les performances du modèle
accuracy = accuracy_score(y_test, y_pred)
cm = confusion_matrix(y_test, y_pred)
report = classification_report(y_test, y_pred)

# Affichage des résultats
print(f"Accuracy: {accuracy:.2f}")
print("Confusion Matrix:")
print(cm)
print("Classification Report:")
print(report)

Accuracy: 0.94
Confusion Matrix:
[[735   8]
 [ 38   5]]
Classification Report:
              precision    recall  f1-score   support

           0       0.95      0.99      0.97       743
           1       0.38      0.12      0.18        43

    accuracy                           0.94       786
   macro avg       0.67      0.55      0.57       786
weighted avg       0.92      0.94      0.93       786

In [22]:
# Système de recommandation pour ce KNN

from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Sélectionner les colonnes pertinentes pour KNN
features = ['averageRating', 'votes', 'runtime', 'start_year']  # Choisir les bonnes colonnes

# 1. Normaliser les données
scaler = StandardScaler()
X = scaler.fit_transform(df[features])

# 2. Appliquer KNN pour trouver les voisins les plus proches
knn = NearestNeighbors(n_neighbors=5, metric='euclidean')  # Choisir n_neighbors en fonction de l'exigence
knn.fit(X)

# 3. Recommander des films similaires pour un film donné
def recommend_knn(movie_index, df, knn):
    distances, indices = knn.kneighbors([X[movie_index]])
    recommended_movies = df.iloc[indices[0]]
    return recommended_movies[['averageRating', 'votes', 'runtime', 'category', 'genres', 'titles']]

# Exemple d'utilisation pour recommander des films similaires
recommended_movies_knn = recommend_knn(0, df, knn)
print(recommended_movies_knn.head())

      averageRating  votes  runtime category  \
0          6.400675  6.326    118.0    actor
726        6.400675  6.607    115.0    actor
642        6.400675  5.900    119.0    actor
3724       6.400675  6.300    120.0    actor
553        6.400675  6.515    111.0    actor

                                 genres                                titles
0     ['Romance', 'Fantasy', 'Comedy'],                     Kate & Leopold -
726           ['Adventure', 'History'],              The Warrior's Brother -
642                         ['Comedy'],         Ghislain Lambert's Bicycle -
3724                        ['Comedy'],  Dany Boon à s'baraque et en ch'ti -
553      ['Comedy', 'Crime', 'Action'],                  Miss Congeniality -

In [23]:
# KMeans

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.cluster import KMeans
import pandas as pd



# 1. Sélectionner les colonnes numériques
numeric_columns = ['averageRating', 'votes', 'runtime', 'start_year']

# 2. Sélectionner les colonnes catégorielles à encoder (comme 'category' et 'genres')
categorical_columns = ['category', 'genres', 'languages_combined']

# 3. Prétraiter les colonnes numériques et catégorielles
numeric_transformer = StandardScaler()  # Normalisation des données numériques
categorical_transformer = OneHotEncoder(handle_unknown='ignore')  # Encodage one-hot pour les colonnes catégorielles

# Créer un transformateur de colonnes
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_columns),
        ('cat', categorical_transformer, categorical_columns)
    ])

# Appliquer le KMeans avec un pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('kmeans', KMeans(n_clusters=3, random_state=42))
])

# Appliquer le clustering
df['cluster'] = pipeline.fit_predict(df)

# Afficher les résultats
print(df[['averageRating', 'votes', 'runtime', 'start_year', 'category', 'genres', 'cluster']].head())

   averageRating  votes  runtime  start_year category  \
0       6.400675  6.326    118.0      2001.0    actor
1       6.400675  6.900    103.0      1990.0    actor
2       6.400675  3.000     95.0      1991.0    actor
3       6.400675  0.000     99.0      1990.0    actor
4       6.400675  6.900    107.0      1990.0    actor

                              genres  cluster
0  ['Romance', 'Fantasy', 'Comedy'],        2
1    ['Comedy', 'Drama', 'Romance'],        2
2  ['Crime', 'Action', 'Adventure'],        2
3            ['Drama', 'Adventure'],        2
4             ['Comedy', 'Romance'],        2

In [24]:
# sustème de recommandation pour Kmeans
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# 1. Sélectionner les colonnes pertinentes
numeric_columns = ['averageRating', 'votes', 'runtime', 'start_year']
categorical_columns = ['category', 'genres', 'languages_combined']

# 2. Prétraiter les données
numeric_transformer = StandardScaler()
categorical_transformer = OneHotEncoder(handle_unknown='ignore')

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_columns),
        ('cat', categorical_transformer, categorical_columns)
    ])

# Créer un pipeline avec KMeans
kmeans_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('kmeans', KMeans(n_clusters=5, random_state=42))  # Choisir un nombre de clusters approprié
])

# Appliquer KMeans et obtenir les clusters
df['cluster'] = kmeans_pipeline.fit_predict(df)

# 3. Recommander un film basé sur le cluster
def recommend_from_cluster(movie_index, df):
    cluster_id = df.loc[movie_index, 'cluster']
    recommended_movies = df[df['cluster'] == cluster_id]
    return recommended_movies[['averageRating', 'votes', 'runtime', 'category', 'genres', 'titles']]

# Exemple d'utilisation pour recommander des films similaires
recommended_movies = recommend_from_cluster(0, df)
print(recommended_movies.head())

   averageRating  votes  runtime category  \
0       6.400675  6.326    118.0    actor
1       6.400675  6.900    103.0    actor
2       6.400675  3.000     95.0    actor
4       6.400675  6.900    107.0    actor
5       6.400675  5.500    300.0    actor

                                          genres                   titles
0              ['Romance', 'Fantasy', 'Comedy'],        Kate & Leopold -
1                ['Comedy', 'Drama', 'Romance'],  A Tale of Springtime -
2              ['Crime', 'Action', 'Adventure'],      Eye of the Widow -
4                         ['Comedy', 'Romance'],             May Fools -
5  ['Drama', 'Action', 'Adventure', 'TV Movie'],            Desert Law -