In [ ]:
from datetime import datetime
from datetime import timedelta
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
url = "https://datasets.imdbws.com/name.basics.tsv.gz"
df1 = pd.read_csv(url, sep = '\t')

In [ ]:
df1.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0050419,tt0072308,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0050976,tt0083922"

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13983777 entries, 0 to 13983776
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 640.1+ MB

In [ ]:
#afficher le nombre de valeurs manquantes par colonne
df1.isna().sum()

nconst               0
primaryName          9
birthYear            0
deathYear            0
primaryProfession    0
knownForTitles       0
dtype: int64

In [ ]:
#afficher le nombre de valeurs \N  par colonne
(df1 == '\\N').sum()

nconst                      0
primaryName                50
birthYear            13351445
deathYear            13746688
primaryProfession     2713494
knownForTitles        1580850
dtype: int64

In [ ]:
df1.replace('\\N', np.nan, inplace=True)

In [ ]:
#remplacer les valeurs \N par des NaN dans tout le DataFrame
df1.isna().sum()

nconst                      0
primaryName                59
birthYear            13351445
deathYear            13746688
primaryProfession     2713494
knownForTitles        1580850
dtype: int64

In [ ]:
# nous avons 59 primaryname qui manquent, on va les supprimer, sans nom on ne peut rien faire
df1 = df1[df1['primaryName'].notna()]
df1.shape

(13983718, 6)

In [ ]:
#convertir les colonnes dates qui sont en objet au type float
df1['birthYear'] = pd.to_numeric(df1['birthYear'], errors='coerce')
df1['deathYear'] = pd.to_numeric(df1['deathYear'], errors='coerce')

In [ ]:
df1[['birthYear', 'deathYear']].dtypes

birthYear    float64
deathYear    float64
dtype: object

In [ ]:
# Vérifier les doublons dans la colonne 'primaryName'
doublons = df1[df1.duplicated(subset=['primaryName'], keep=False)]

# Afficher les doublons
print(doublons)

             nconst        primaryName  birthYear  deathYear  \
0         nm0000001       Fred Astaire     1899.0     1987.0
5         nm0000006     Ingrid Bergman     1915.0     1982.0
7         nm0000008      Marlon Brando     1924.0     2004.0
8         nm0000009     Richard Burton     1925.0     1984.0
10        nm0000011        Gary Cooper     1901.0     1961.0
...             ...                ...        ...        ...
13983749  nm9993690       David Jewell        NaN        NaN
13983751  nm9993692      Shiela Martin        NaN        NaN
13983770  nm9993712    Corny O'Connell        NaN        NaN
13983772  nm9993714  Romeo del Rosario        NaN        NaN
13983776  nm9993719         Andre Hill        NaN        NaN

                            primaryProfession  \
0                actor,miscellaneous,producer
5                 actress,producer,soundtrack
7                       actor,director,writer
8                     actor,producer,director
10                      actor,stunts,producer
...                                       ...
13983749                                  NaN
13983751                                  NaN
13983770                                  NaN
13983772  animation_department,art_department
13983776                                  NaN

                                   knownForTitles
0         tt0050419,tt0072308,tt0053137,tt0027125
5         tt0034583,tt0036855,tt0038109,tt0038787
7         tt0078788,tt0068646,tt0047296,tt0070849
8         tt0061184,tt0087803,tt0059749,tt0057877
10        tt0044706,tt0034167,tt0027996,tt0035896
...                                           ...
13983749                                tt7888884
13983751                                tt7888884
13983770                                      NaN
13983772          tt11657662,tt14069590,tt2455546
13983776                                      NaN

[4332977 rows x 6 columns]

In [ ]:
# Supprimer les doublons en gardant la première occurrence
df1 = df1.drop_duplicates(subset=['primaryName'], keep='first')

# Vérifier que les doublons ont été supprimés
print(df1.duplicated(subset=['primaryName']).sum())

0

In [ ]:
df1.shape

(10736391, 6)

In [ ]:
#supprimer les colonnes birthYear et deathYear, je pense pas qu ils vont servir
df1.drop(columns=['birthYear', 'deathYear'], inplace=True)

In [ ]:
df1.head()

,nconst,primaryName,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,"actor,miscellaneous,producer","tt0050419,tt0072308,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,"writer,director,actor","tt0050986,tt0069467,tt0050976,tt0083922"

In [ ]:
# Créer un nouveau DataFrame sans les lignes où 'primaryProfession' est NaN
df1_cleaned = df1.dropna(subset=['primaryProfession'])

# Vérifier la taille du nouveau DataFrame
print(df1_cleaned.shape)

(8709764, 4)

In [ ]:
df1_cleaned = df1_cleaned.dropna(subset=['primaryName'])
print(df1_cleaned.shape)

(8709764, 4)

In [ ]:
# Filtrer pour garder uniquement les "actor" et "actress"
df1_cleaned = df1_cleaned[df1_cleaned['primaryProfession'].str.contains('actor|actress', na=False)]
print(df1_cleaned.shape)

(4144247, 4)

In [ ]:
print(df1_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4144247 entries, 0 to 13983761
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   primaryProfession  object
 3   knownForTitles     object
dtypes: object(4)
memory usage: 158.1+ MB
None

In [ ]:
df1.reset_index(drop=True, inplace=True)

In [ ]:
df1_cleaned['primaryProfession'] = df1_cleaned['primaryProfession'].astype('category')
df1_cleaned['knownForTitles'] = df1_cleaned['knownForTitles'].astype('category')

In [ ]:
print(df1_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4144247 entries, 0 to 13983761
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   primaryProfession  category
 3   knownForTitles     category
dtypes: category(2), object(2)
memory usage: 200.7+ MB
None

In [ ]:
d1 = df1_cleaned
print(d1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4144247 entries, 0 to 13983761
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   primaryProfession  category
 3   knownForTitles     category
dtypes: category(2), object(2)
memory usage: 200.7+ MB
None