In [130]:
pip install gdown

Requirement already satisfied: gdown in c:\users\win10\anaconda3\lib\site-packages (5.2.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: beautifulsoup4 in c:\users\win10\anaconda3\lib\site-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in c:\users\win10\anaconda3\lib\site-packages (from gdown) (3.13.1)
Requirement already satisfied: requests[socks] in c:\users\win10\anaconda3\lib\site-packages (from gdown) (2.32.2)
Requirement already satisfied: tqdm in c:\users\win10\anaconda3\lib\site-packages (from gdown) (4.66.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\win10\anaconda3\lib\site-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\win10\anaconda3\lib\site-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\win10\anaconda3\lib\site-packages (from requests[socks]->gdown) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\win10\anaconda3\lib\site-packages (from requests[socks]->gdown) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\win10\anaconda3\lib\site-packages (from requests[socks]->gdown) (2024.8.30)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\win10\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\users\win10\anaconda3\lib\site-packages (from tqdm->gdown) (0.4.6)

In [6]:
from datetime import datetime
from datetime import timedelta
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import gdown
import pandas as pd

In [7]:
# ID du fichier Google Drive pour le deuxième fichier
file_id_title_ratings = '1qJytCbyZVgT7HoI8a4t90QG06JNKa13I'
title_ratings = f'https://drive.google.com/uc?id={file_id_title_ratings}'
output_title_ratings = 'title_ratings.csv'

# Télécharger le fichier CSV depuis Google Drive
gdown.download(title_ratings, output_title_ratings, quiet=False)

# Lire le fichier CSV avec pandas
df1 = pd.read_csv(output_title_ratings, delimiter=',', on_bad_lines='skip', engine='python')

Downloading...
From: https://drive.google.com/uc?id=1qJytCbyZVgT7HoI8a4t90QG06JNKa13I
To: c:\Users\Win10\Desktop\projet 2 bdd\title_ratings.csv
100%|██████████| 1.31M/1.31M [00:00<00:00, 4.13MB/s]

In [8]:
df1.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2108
1  tt0000003            6.5      2131
2  tt0000005            6.2      2860
3  tt0000008            5.4      2255
4  tt0000010            6.8      7779

In [9]:

# l' ID du fichier Google Drive
file_id_title_principals = '1Lx4VzThPS8SZlSb7JWrz7Rb0O1Jg-Z8-'
title_principals = f'https://drive.google.com/uc?id={file_id_title_principals}'
output_title_principals = 'title_principals_final.csv'

# Télécharger le fichier CSV depuis Google Drive
gdown.download(title_principals, output_title_principals, quiet=False)

# Lire le fichier CSV avec pandas
df2 = pd.read_csv(output_title_principals, delimiter=',', on_bad_lines='skip', engine='python')
df2.head(2)

Downloading...
From (original): https://drive.google.com/uc?id=1Lx4VzThPS8SZlSb7JWrz7Rb0O1Jg-Z8-
From (redirected): https://drive.google.com/uc?id=1Lx4VzThPS8SZlSb7JWrz7Rb0O1Jg-Z8-&confirm=t&uuid=1aa28843-4c8b-4366-96b5-f6826824d08b
To: c:\Users\Win10\Desktop\projet 2 bdd\title_principals_final.csv
100%|██████████| 239M/239M [00:25<00:00, 9.38MB/s]

      tconst  ordering     nconst  category
0  tt0000001         2  nm0005690  director
1  tt0000002         1  nm0721526  director

In [10]:
file_id_titleakas = '1miW6rfrC8avh1nnm7WjD2cRO-_atIQNj'
titleakas = f'https://drive.google.com/uc?id={file_id_titleakas}'
output_titleakas = 'titleakas.csv'

# Télécharger le fichier CSV depuis Google Drive
gdown.download(titleakas, output_titleakas, quiet=False)

# Lire le fichier CSV avec pandas
df3 = pd.read_csv(output_titleakas, delimiter=',', on_bad_lines='skip', engine='python')

Downloading...
From: https://drive.google.com/uc?id=1miW6rfrC8avh1nnm7WjD2cRO-_atIQNj
To: c:\Users\Win10\Desktop\projet 2 bdd\titleakas.csv
100%|██████████| 25.5M/25.5M [00:02<00:00, 10.2MB/s]

In [11]:
#renommer la colonne "titleId" par "tconst"
df3 = df3.rename(columns={'titleId': 'tconst'})
df3.head()

,tconst,ordering,title,language,types,isOriginalTitle
0,tt0000005,2,Blacksmith Scene,en,imdbDisplay,0
1,tt0000010,4,La sortie de l'usine Lumière à Lyon,en,imdbDisplay,0
2,tt0000012,22,The Arrival of a Train at La Ciotat,en,alternative,0
3,tt0000012,4,The Arrival of a Train,en,imdbDisplay,0
4,tt0000012,6,The Arrival of a Train,en,imdbDisplay,0

In [12]:
# ID du fichier Google Drive pour le nouveau fichier
file_id_title_basics = '1LQMg069N6kP7AzxgoglkyPaNizaMDMBt'
title_basics = f'https://drive.google.com/uc?id={file_id_title_basics}'
output_title_basics = 'title_basics.csv'

# Télécharger le fichier CSV depuis Google Drive
gdown.download(title_basics, output_title_basics, quiet=False)

# Lire le fichier CSV avec pandas
df4 = pd.read_csv(output_title_basics, delimiter=',', on_bad_lines='skip', engine='python')
df4.head()

Downloading...
From: https://drive.google.com/uc?id=1LQMg069N6kP7AzxgoglkyPaNizaMDMBt
To: c:\Users\Win10\Desktop\projet 2 bdd\title_basics.csv
100%|██████████| 26.7M/26.7M [00:02<00:00, 10.5MB/s]

,tconst,titleType,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,genres
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,2019.0,NaN,NaN,"Action,Crime"
1,tt0015724,movie,Dama de noche,Dama de noche,1993.0,NaN,102.0,"Drama,Mystery,Romance"
2,tt0035423,movie,Kate & Leopold,Kate & Leopold,2001.0,NaN,118.0,"Comedy,Fantasy,Romance"
3,tt0038086,movie,Shiva und die Galgenblume,Shiva und die Galgenblume,1993.0,NaN,NaN,Thriller
4,tt0059097,movie,Just Don't Think I'll Cry,"Denk bloß nicht, ich heule",1990.0,NaN,91.0,Drama

In [14]:
import pandas as pd

# URL du fichier Google Drive pour le nouveau fichier
file_id_name_basics = '1UVpk5usik_flBdg1FjFeU8WM7bb81vw5'
name_basics = f'https://drive.google.com/uc?id={file_id_name_basics}'

# Lire le fichier CSV avec pandas
try:
    df5 = pd.read_csv(name_basics, delimiter=',', on_bad_lines='skip', engine='python')
    if df5.empty:
        print("Le fichier est vide.")
    else:
        display(df5.head())
except pd.errors.EmptyDataError:
    print("Aucune donnée à analyser dans le fichier.")
except Exception as e:
    print(f"Une erreur est survenue : {e}")

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000103,Fairuza Balk,1974.0,NaN,"actress,soundtrack,archive_footage","tt0115963,tt0181875,tt0089908,tt0120586"
1,nm0000106,Drew Barrymore,1975.0,NaN,"producer,actress,director","tt0160127,tt0151738,tt0343660,tt0120631"
2,nm0000117,Neve Campbell,1973.0,NaN,"actress,producer,writer","tt0117571,tt0120082,tt0134084,tt0120890"
3,nm0000132,Claire Danes,1979.0,NaN,"actress,producer,soundtrack","tt0108872,tt1796960,tt0117509,tt0274558"
4,nm0000138,Leonardo DiCaprio,1974.0,NaN,"producer,actor,writer","tt1375666,tt0993846,tt0407887,tt0120338"

In [15]:
# Vérifier les colonnes de chaque DataFrame avant la fusion
display(df1.columns)
display(df2.columns)
display(df3.columns)
display(df4.columns)
display(df5.columns)

Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

Index(['tconst', 'ordering', 'nconst', 'category'], dtype='object')

Index(['tconst', 'ordering', 'title', 'language', 'types', 'isOriginalTitle'], dtype='object')

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'startYear',
       'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

Index(['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession',
       'knownForTitles'],
      dtype='object')

In [17]:
#fusion de df1 et df2 sur la colonne'tcont'
df_merged_1 = pd.merge(df1, df2, on=['tconst'], how='outer')
df_merged_1.head(2)

      tconst  averageRating  numVotes  ordering     nconst  category
0  tt0000001            5.7    2108.0       2.0  nm0005690  director
1  tt0000002            NaN       NaN       1.0  nm0721526  director

In [19]:
#fusion de df_merged_1 et df3 sur la colonne'tcont'
#supression de la colonne 'ordering' dans df3 avant la fusion
df3_dropped = df3.drop(columns=['ordering'])
df_merged_2 = pd.merge(df_merged_1, df3_dropped, on=['tconst'], how='outer')
df_merged_2.head(30)

,tconst,averageRating,numVotes,ordering,nconst,category,title,language,types,isOriginalTitle
0,tt0000001,5.7,2108.0,2.0,nm0005690,director,NaN,NaN,NaN,NaN
1,tt0000002,NaN,NaN,1.0,nm0721526,director,NaN,NaN,NaN,NaN
2,tt0000003,6.5,2131.0,1.0,nm0721526,director,NaN,NaN,NaN,NaN
3,tt0000004,NaN,NaN,1.0,nm0721526,director,NaN,NaN,NaN,NaN
4,tt0000005,6.2,2860.0,1.0,nm0443482,actor,Blacksmith Scene,en,imdbDisplay,0.0
5,tt0000007,NaN,NaN,1.0,nm0179163,actor,NaN,NaN,NaN,NaN
6,tt0000008,5.4,2255.0,1.0,nm0653028,actor,NaN,NaN,NaN,NaN
7,tt0000009,NaN,NaN,1.0,nm0063086,actress,NaN,NaN,NaN,NaN
8,tt0000010,6.8,7779.0,1.0,nm0525910,director,La sortie de l'usine Lumière à Lyon,en,imdbDisplay,0.0
9,tt0000011,NaN,NaN,1.0,nm3692297,actor,NaN,NaN,NaN,NaN
10,tt0000012,7.4,13216.0,7.0,nm0525908,director,The Arrival of a Train at La Ciotat,en,alternative,0.0
11,tt0000012,7.4,13216.0,7.0,nm0525908,director,The Arrival of a Train,en,imdbDisplay,0.0
12,tt0000012,7.4,13216.0,7.0,nm0525908,director,The Arrival of a Train,en,imdbDisplay,0.0
13,tt0000012,7.4,13216.0,7.0,nm0525908,director,L'arrivée d'un train à La Ciotat,en,imdbDisplay,0.0
14,tt0000013,5.7,2027.0,3.0,nm0525910,director,The Photographical Congress Arrives in Lyon,en,imdbDisplay,0.0
15,tt0000014,7.1,6014.0,1.0,nm0166380,actor,NaN,NaN,NaN,NaN
16,tt0000015,NaN,NaN,1.0,nm0721526,director,NaN,NaN,NaN,NaN
17,tt0000016,5.9,1630.0,3.0,nm0525910,director,Boat Leaving the Port,en,imdbDisplay,0.0
18,tt0000017,NaN,NaN,1.0,nm3691272,actor,NaN,NaN,NaN,NaN
19,tt0000018,NaN,NaN,1.0,nm3692071,actor,NaN,NaN,NaN,NaN
20,tt0000019,NaN,NaN,1.0,nm0932055,director,NaN,NaN,NaN,NaN
21,tt0000020,NaN,NaN,1.0,nm0010291,director,NaN,NaN,NaN,NaN
22,tt0000022,NaN,NaN,1.0,nm0525910,director,NaN,NaN,NaN,NaN
23,tt0000023,5.7,1555.0,1.0,nm0525910,director,The Sea,en,imdbDisplay,0.0
24,tt0000023,5.7,1555.0,1.0,nm0525910,director,A Dip in the Sea,en,alternative,0.0
25,tt0000024,NaN,NaN,3.0,nm0010291,director,NaN,NaN,NaN,NaN
26,tt0000025,NaN,NaN,1.0,nm0010291,director,NaN,NaN,NaN,NaN
27,tt0000026,5.6,1641.0,1.0,nm2350007,actor,NaN,NaN,NaN,NaN
28,tt0000027,NaN,NaN,1.0,nm0525910,director,Cordeliers' Square in Lyon,en,imdbDisplay,0.0
29,tt0000028,NaN,NaN,3.0,nm0525910,director,Fishing for Goldfish,en,imdbDisplay,0.0

In [20]:
#fusion de df_merged_2 et df4 sur la colonne'tcont'
df_merged_3 = pd.merge(df_merged_2, df4, on=['tconst'], how='outer')
df_merged_3.head(2)

,tconst,averageRating,numVotes,ordering,nconst,category,title,language,types,isOriginalTitle,titleType,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,genres
0,tt0000001,5.7,2108.0,2.0,nm0005690,director,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0000002,NaN,NaN,1.0,nm0721526,director,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#fusion de df_merged_3 et df2 sur la colonne'ncont'
df_merged_4 = pd.merge(df_merged_3, df5, on=['nconst'], how='outer')
df_merged_4.head(15)

,tconst,averageRating,numVotes,ordering,nconst,category,title,language,types,isOriginalTitle,...,originalTitle,startYear,endYear,runtimeMinutes,genres,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0025164,7.4,8870.0,1.0,nm0000001,actor,Continental,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0025164,7.4,8870.0,1.0,nm0000001,actor,The Gay Divorcee,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0025164,7.4,8870.0,1.0,nm0000001,actor,La divorcée joyeuse,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0025164,7.4,8870.0,1.0,nm0000001,actor,The Gay Divorcee,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0025164,7.4,8870.0,1.0,nm0000001,actor,The Gay Divorcee,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,tt0027125,7.7,21095.0,1.0,nm0000001,actor,Top Hat,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,tt0027125,7.7,21095.0,1.0,nm0000001,actor,Chapeau claque,fr,alternative,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,tt0027125,7.7,21095.0,1.0,nm0000001,actor,Top Hat,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,tt0027125,7.7,21095.0,1.0,nm0000001,actor,Top Hat,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,tt0027630,7.1,4836.0,1.0,nm0000001,actor,Suivez la flotte!,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,tt0027630,7.1,4836.0,1.0,nm0000001,actor,Follow the Fleet,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,tt0027630,7.1,4836.0,1.0,nm0000001,actor,Follow the Fleet,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,tt0027630,7.1,4836.0,1.0,nm0000001,actor,Follow the Fleet,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,tt0028333,7.5,14905.0,1.0,nm0000001,actor,Leçon de danse,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,tt0028333,7.5,14905.0,1.0,nm0000001,actor,Swing Time,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Calculer le nombre de doublons basés sur la colonne 'tconst' et la colonne 'nconst'
num_duplicates = df_merged_4.duplicated(subset=['tconst', 'nconst']).sum()
print(f"Nombre de doublons : {num_duplicates}")

Nombre de doublons : 261323

In [23]:
# Supprimer les doublons basés sur la colonne 'tconst' et la colonne 'nconst'
merged_df = df_merged_4.drop_duplicates(subset=['tconst', 'nconst'])
display(merged_df.head(35))

,tconst,averageRating,numVotes,ordering,nconst,category,title,language,types,isOriginalTitle,...,originalTitle,startYear,endYear,runtimeMinutes,genres,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0025164,7.4,8870.0,1.0,nm0000001,actor,Continental,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,tt0027125,7.7,21095.0,1.0,nm0000001,actor,Top Hat,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,tt0027630,7.1,4836.0,1.0,nm0000001,actor,Suivez la flotte!,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,tt0028333,7.5,14905.0,1.0,nm0000001,actor,Leçon de danse,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,tt0028757,6.8,2427.0,1.0,nm0000001,actor,A Damsel in Distress,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,tt0029546,7.4,8020.0,1.0,nm0000001,actor,L'Entreprenant Monsieur Petrov,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,tt0029971,7.0,4405.0,1.0,nm0000001,actor,Carefree,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,tt0031983,6.9,2839.0,1.0,nm0000001,actor,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,tt0032284,7.3,2869.0,1.0,nm0000001,actor,Broadway Melody of 1940,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,tt0033029,5.7,1805.0,1.0,nm0000001,actor,Romance en swing,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,tt0034409,6.7,3009.0,1.0,nm0000001,actor,Vous ne serez jamais riche,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,tt0035583,7.2,4227.0,1.0,nm0000001,actor,You Were Never Lovelier,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,tt0036363,NaN,NaN,1.0,nm0000001,actor,L'Aventure inoubliable,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,tt0038262,NaN,NaN,1.0,nm0000001,actor,Yolanda and the Thief,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,tt0038370,6.4,1607.0,1.0,nm0000001,actor,Blue Skies,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,tt0041158,7.0,3587.0,1.0,nm0000001,actor,The Barkleys of Broadway,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,tt0043044,6.9,2098.0,1.0,nm0000001,actor,Three Little Words,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,tt0043983,6.7,6262.0,1.0,nm0000001,actor,Mariage royal,fr,alternative,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,tt0044408,NaN,NaN,1.0,nm0000001,actor,The Belle of New York,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,tt0045537,7.4,12866.0,1.0,nm0000001,actor,The Band Wagon,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,tt0047969,6.7,4379.0,1.0,nm0000001,actor,Papa Longues Jambes,fr,tv,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,tt0050972,6.8,4406.0,1.0,nm0000001,actor,La Belle de Moscow,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,tt0055307,NaN,NaN,1.0,nm0000001,actor,The Pleasure of His Company,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,tt0062974,6.1,4305.0,1.0,nm0000001,actor,Finian's Rainbow,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,tt0064664,NaN,NaN,1.0,nm0000001,actor,A Run on Gold,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,tt0066327,7.7,18001.0,1.0,nm0000001,actor,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,tt0075971,NaN,NaN,1.0,nm0000001,actor,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,tt0077898,NaN,NaN,1.0,nm0000001,actor,Le fabuleux Père Noël,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,tt0507706,NaN,NaN,1.0,nm0000001,actor,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,tt0507722,NaN,NaN,1.0,nm0000001,actor,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,tt0507723,NaN,NaN,1.0,nm0000001,actor,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,tt0528241,NaN,NaN,1.0,nm0000001,actor,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,tt0586190,NaN,NaN,2.0,nm0000001,actor,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,tt7107944,NaN,NaN,12.0,nm0000001,actor,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,tt0051657,NaN,NaN,1.0,nm0000002,actress,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#vérifier s'il y a des doublons : 
# Calculer le nombre de doublons basés sur la colonne 'tconst' et la colonne 'nconst'
check_duplicates = merged_df.duplicated(subset=['tconst', 'nconst']).sum()
print(f"Nombre de doublons : {check_duplicates}")

Nombre de doublons : 0

In [25]:
# Obtenir les valeurs uniques dans la colonne 'category'
unique_category = merged_df['category'].unique()
print(unique_category)

['actor' 'actress' 'director' nan]

In [27]:
# Calculer le nombre de valeurs NaN dans la colonne 'title'
num_nan_title = merged_df['title'].isna().sum()

print(f"Nombre de valeurs NaN dans la colonne 'title' : {num_nan_title}")

Nombre de valeurs NaN dans la colonne 'title' : 7566830

In [28]:
# Supprimer les lignes contenant des valeurs NaN dans la colonne 'title'
df_cleaned = merged_df.dropna(subset=['title'])

display(df_cleaned.columns)

Index(['tconst', 'averageRating', 'numVotes', 'ordering', 'nconst', 'category',
       'title', 'language', 'types', 'isOriginalTitle', 'titleType',
       'primaryTitle', 'originalTitle', 'startYear', 'endYear',
       'runtimeMinutes', 'genres', 'primaryName', 'birthYear', 'deathYear',
       'primaryProfession', 'knownForTitles'],
      dtype='object')

In [29]:
df_cleaned.head(50)

,tconst,averageRating,numVotes,ordering,nconst,category,title,language,types,isOriginalTitle,...,originalTitle,startYear,endYear,runtimeMinutes,genres,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0025164,7.4,8870.0,1.0,nm0000001,actor,Continental,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,tt0027125,7.7,21095.0,1.0,nm0000001,actor,Top Hat,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,tt0027630,7.1,4836.0,1.0,nm0000001,actor,Suivez la flotte!,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,tt0028333,7.5,14905.0,1.0,nm0000001,actor,Leçon de danse,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,tt0028757,6.8,2427.0,1.0,nm0000001,actor,A Damsel in Distress,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,tt0029546,7.4,8020.0,1.0,nm0000001,actor,L'Entreprenant Monsieur Petrov,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,tt0029971,7.0,4405.0,1.0,nm0000001,actor,Carefree,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,tt0032284,7.3,2869.0,1.0,nm0000001,actor,Broadway Melody of 1940,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,tt0033029,5.7,1805.0,1.0,nm0000001,actor,Romance en swing,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,tt0034409,6.7,3009.0,1.0,nm0000001,actor,Vous ne serez jamais riche,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,tt0035583,7.2,4227.0,1.0,nm0000001,actor,You Were Never Lovelier,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,tt0036363,NaN,NaN,1.0,nm0000001,actor,L'Aventure inoubliable,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,tt0038262,NaN,NaN,1.0,nm0000001,actor,Yolanda and the Thief,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,tt0038370,6.4,1607.0,1.0,nm0000001,actor,Blue Skies,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,tt0041158,7.0,3587.0,1.0,nm0000001,actor,The Barkleys of Broadway,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,tt0043044,6.9,2098.0,1.0,nm0000001,actor,Three Little Words,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,tt0043983,6.7,6262.0,1.0,nm0000001,actor,Mariage royal,fr,alternative,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,tt0044408,NaN,NaN,1.0,nm0000001,actor,The Belle of New York,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,tt0045537,7.4,12866.0,1.0,nm0000001,actor,The Band Wagon,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,tt0047969,6.7,4379.0,1.0,nm0000001,actor,Papa Longues Jambes,fr,tv,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,tt0050972,6.8,4406.0,1.0,nm0000001,actor,La Belle de Moscow,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,tt0055307,NaN,NaN,1.0,nm0000001,actor,The Pleasure of His Company,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,tt0062974,6.1,4305.0,1.0,nm0000001,actor,Finian's Rainbow,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,tt0064664,NaN,NaN,1.0,nm0000001,actor,A Run on Gold,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,tt0077898,NaN,NaN,1.0,nm0000001,actor,Le fabuleux Père Noël,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,tt0058580,6.4,4846.0,1.0,nm0000002,actress,Une vierge sur canapé,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,tt0082362,5.8,3067.0,1.0,nm0000002,actress,The Fan,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,tt0166817,NaN,NaN,1.0,nm0000002,actress,A Star for Two,fr,imdbDisplay,0.0,...,A Star for Two,1991.0,NaN,91.0,"Drama,Romance",NaN,NaN,NaN,NaN,NaN
78,tt0189314,NaN,NaN,1.0,nm0000002,actress,Too Rich: the secret life of Doris Duke,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,tt0272183,NaN,NaN,1.0,nm0000002,actress,Madeline: Lost in Paris,en,imdbDisplay,0.0,...,Madeline: Lost in Paris,1999.0,NaN,74.0,"Adventure,Animation,Comedy",NaN,NaN,NaN,NaN,NaN
86,tt0338201,NaN,NaN,1.0,nm0000002,actress,Sombre complot,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,tt1368858,5.3,4907.0,1.0,nm0000002,actress,Faire sa chance,fr,imdbDisplay,0.0,...,The Forger,2012.0,NaN,94.0,"Drama,Family,Mystery",NaN,NaN,NaN,NaN,NaN
100,tt0044881,NaN,NaN,1.0,nm0000003,actress,The Girl in the Bikini,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,tt0049063,NaN,NaN,1.0,nm0000003,actress,Come Dance with Me,en,alternative,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,tt0049189,6.3,9666.0,1.0,nm0000003,actress,And God Created Woman,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,tt0050193,NaN,NaN,1.0,nm0000003,actress,Les bijoutiers du clair de lune,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,tt0051608,NaN,NaN,1.0,nm0000003,actress,The Female,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,tt0052595,NaN,NaN,1.0,nm0000003,actress,Babette Goes to War,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,tt0053428,NaN,NaN,1.0,nm0000003,actress,Voulez-vous Danser Avec Moi,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,tt0054452,7.6,4745.0,1.0,nm0000003,actress,La vérité,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,tt0054700,NaN,NaN,1.0,nm0000003,actress,"Please, Not Now!",en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,tt0055599,NaN,NaN,1.0,nm0000003,actress,Vie privée,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,tt0056404,NaN,NaN,1.0,nm0000003,actress,Love on a Pillow,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,tt0057345,7.4,36904.0,1.0,nm0000003,actress,Contempt,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,tt0058703,NaN,NaN,1.0,nm0000003,actress,Une ravissante idiote,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,tt0059956,6.3,4137.0,1.0,nm0000003,actress,Viva Maria!,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,tt0062534,NaN,NaN,1.0,nm0000003,actress,À coeur joie,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,tt0064324,NaN,NaN,1.0,nm0000003,actress,Les femmes,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,tt0066164,NaN,NaN,1.0,nm0000003,actress,Les novices,fr,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,tt0067637,NaN,NaN,1.0,nm0000003,actress,The Legend of Frenchie King,en,imdbDisplay,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# Calculer le nombre de valeurs NaN dans la colonne 'originalTitle'
num_nan_original_title = df_cleaned['originalTitle'].isna().sum()

print(f"Nombre de valeurs NaN dans la colonne 'originalTitle' : {num_nan_original_title}")

Nombre de valeurs NaN dans la colonne 'originalTitle' : 162864

In [31]:
#vu le nombre important de valeurs 'NaN' dans les colonnes  'originalTitle' et 'isOriginalTitle'
# supprimer ces colonnes est la solution la plus appropriée car leurs contributions à l'analyse ne sont pas pertinentes
# Supprimer la colonne 'originalTitle', 'primaryProfession' et 'isOriginalTitle'
df_net= df_cleaned.drop(columns=['originalTitle','isOriginalTitle', 'primaryProfession'])

In [32]:
df_net.head(15)

,tconst,averageRating,numVotes,ordering,nconst,category,title,language,types,titleType,primaryTitle,startYear,endYear,runtimeMinutes,genres,primaryName,birthYear,deathYear,knownForTitles
0,tt0025164,7.4,8870.0,1.0,nm0000001,actor,Continental,en,imdbDisplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,tt0027125,7.7,21095.0,1.0,nm0000001,actor,Top Hat,en,imdbDisplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,tt0027630,7.1,4836.0,1.0,nm0000001,actor,Suivez la flotte!,fr,imdbDisplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,tt0028333,7.5,14905.0,1.0,nm0000001,actor,Leçon de danse,fr,imdbDisplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,tt0028757,6.8,2427.0,1.0,nm0000001,actor,A Damsel in Distress,fr,imdbDisplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,tt0029546,7.4,8020.0,1.0,nm0000001,actor,L'Entreprenant Monsieur Petrov,fr,imdbDisplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,tt0029971,7.0,4405.0,1.0,nm0000001,actor,Carefree,en,imdbDisplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,tt0032284,7.3,2869.0,1.0,nm0000001,actor,Broadway Melody of 1940,en,imdbDisplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,tt0033029,5.7,1805.0,1.0,nm0000001,actor,Romance en swing,fr,imdbDisplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,tt0034409,6.7,3009.0,1.0,nm0000001,actor,Vous ne serez jamais riche,fr,imdbDisplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,tt0035583,7.2,4227.0,1.0,nm0000001,actor,You Were Never Lovelier,en,imdbDisplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,tt0036363,NaN,NaN,1.0,nm0000001,actor,L'Aventure inoubliable,fr,imdbDisplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,tt0038262,NaN,NaN,1.0,nm0000001,actor,Yolanda and the Thief,en,imdbDisplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,tt0038370,6.4,1607.0,1.0,nm0000001,actor,Blue Skies,en,imdbDisplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,tt0041158,7.0,3587.0,1.0,nm0000001,actor,The Barkleys of Broadway,en,imdbDisplay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
#supression des colonnes 'titleType' et 'primaryTitle'
df_net= df_net.drop(columns=['titleType', 'primaryTitle'])

In [35]:
df_net.shape

(262354, 17)

In [36]:
display(df_net.columns)

Index(['tconst', 'averageRating', 'numVotes', 'ordering', 'nconst', 'category',
       'title', 'language', 'types', 'startYear', 'endYear', 'runtimeMinutes',
       'genres', 'primaryName', 'birthYear', 'deathYear', 'knownForTitles'],
      dtype='object')

In [37]:
# Obtenir le nombre de valeurs uniques dans la colonne 'genres'
num_unique_genres = df_net['genres'].nunique()

print(f"Nombre de valeurs uniques dans la colonne 'genres' : {num_unique_genres}")

Nombre de valeurs uniques dans la colonne 'genres' : 931

In [38]:
# Obtenir les valeurs uniques dans la colonne 'genres'
unique_genres = df_net['genres'].unique()
print(unique_genres)

[nan 'Drama,Romance' 'Adventure,Animation,Comedy' 'Drama,Family,Mystery'
 'Comedy,Crime' 'Adventure,Biography,Drama' 'Adventure,Drama'
 'Comedy,Mystery' 'Comedy,Drama,Romance' 'Drama,Fantasy' 'Action'
 'Horror,Thriller' 'Comedy' 'Comedy,Drama' 'Drama' 'Comedy,Crime,Fantasy'
 'Biography,Drama' 'Crime,Drama,Mystery' 'Comedy,Crime,Drama'
 'Documentary' 'Adventure,Animation,Family' 'Biography,Drama,Romance'
 'Crime,Drama,History' 'Drama,History,Romance' 'Biography,Drama,Sport'
 'Drama,History' 'Drama,Sport' 'Comedy,Drama,Music' 'Crime,Drama,Thriller'
 'Drama,Fantasy,Horror' 'Drama,Romance,War' 'Drama,Fantasy,Romance'
 'Adventure,Comedy,Drama' 'Action,Comedy,Crime' 'Adventure,Drama,War'
 'Biography,Crime,Drama' 'Action,Adventure,Horror' 'Comedy,Drama,History'
 'Action,Comedy,Thriller' 'Action,Drama,War' 'Adventure,Drama,Mystery'
 'Action,Drama,Romance' 'Comedy,Drama,War' 'Documentary,Sport'
 'Comedy,Fantasy,Romance' 'Comedy,Musical,Romance' 'Comedy,Romance'
 'Comedy,Music,Romance' 'Action,Sci-Fi' 'Action,Comedy,Romance'
 'Action,Adventure,Drama' 'Comedy,Crime,Mystery' 'Horror,Mystery'
 'Adventure,Comedy,Family' 'Action,Adventure,Comedy' 'Comedy,Family'
 'Comedy,Sci-Fi' 'Comedy,Drama,Family' 'Comedy,Fantasy'
 'Documentary,Music' 'Comedy,Horror' 'Comedy,Family,Sport'
 'Adventure,Animation,Drama' 'Action,Horror,Sci-Fi'
 'Horror,Mystery,Thriller' 'Action,Crime,Drama' 'Crime,Mystery,Thriller'
 'Action,Crime,Thriller' 'Action,Thriller' 'Drama,Horror,Mystery'
 'Crime,Thriller' 'Action,Drama,Thriller' 'Drama,Romance,Thriller'
 'Action,Adventure,History' 'Drama,Mystery,Romance' 'Action,Crime,Mystery'
 'Action,Adventure,Romance' 'Drama,Music' 'Action,Adventure,Animation'
 'Comedy,Crime,Romance' 'Drama,Mystery,Thriller' 'Action,Drama,Sci-Fi'
 'Biography,Drama,History' 'Biography,Drama,Music' 'Horror' 'Crime'
 'Adventure,Comedy,Fantasy' 'Drama,Horror' 'Crime,Drama,Romance'
 'Drama,Thriller' 'Horror,Romance,Thriller' 'Biography,Comedy,Drama'
 'Crime,Drama,Horror' 'Crime,Drama' 'Biography,Documentary,War'
 'Action,Sci-Fi,Thriller' 'Action,Adventure,Thriller'
 'Biography,Drama,Western' 'Crime,Romance,Thriller'
 'Comedy,Crime,Thriller' 'Action,Adventure,Family'
 'Action,Adventure,Crime' 'Adventure,Comedy,Thriller'
 'Adventure,Crime,Western' 'Comedy,Drama,Fantasy' 'Drama,Fantasy,Mystery'
 'Comedy,Family,Romance' 'Drama,Sci-Fi,Thriller' 'Horror,Mystery,Sci-Fi'
 'Action,Adventure' 'Adventure,Comedy,Crime' 'Drama,Music,Romance'
 'Action,Fantasy,Thriller' 'Action,Adventure,Mystery'
 'Mystery,Sci-Fi,Thriller' 'Drama,History,Thriller'
 'Action,Adventure,Fantasy' 'Drama,Mystery' 'Action,Drama,Mystery'
 'Adventure,Drama,Western' 'Action,Comedy,Fantasy' 'Action,Drama,History'
 'Action,Drama,Horror' 'Action,Fantasy,Sci-Fi' 'Thriller'
 'Biography,Comedy,Crime' 'Adventure,Crime,Mystery'
 'Comedy,Horror,Thriller' 'Mystery,Thriller' 'Sci-Fi,Thriller'
 'Fantasy,Horror,Thriller' 'Action,Fantasy,Horror'
 'Fantasy,Mystery,Thriller' 'Action,Comedy,Horror' 'Action,Drama,Western'
 'Documentary,Family' 'Comedy,Drama,Thriller' 'Comedy,Family,Fantasy'
 'Drama,Romance,Sci-Fi' 'Horror,Music,Thriller' 'Adventure,Drama,Sci-Fi'
 'Comedy,Drama,Horror' 'Adventure,Drama,Romance' 'Action,Crime,Romance'
 'Action,Adventure,Sci-Fi' 'Drama,Romance,Sport' 'Crime,Horror,Thriller'
 'Drama,Western' 'Comedy,Drama,Sport' 'Biography,Drama,Mystery'
 'Documentary,History,News' 'Drama,History,War' 'Action,Drama,Sport'
 'Fantasy,Mystery,Romance' 'Action,Drama' 'Drama,War'
 'Fantasy,Horror,Mystery' 'Animation,Comedy,Family' 'Drama,Horror,Romance'
 'Action,Drama,Fantasy' 'Comedy,Musical' 'Crime,Horror,Mystery'
 'Animation,Comedy,Drama' 'Biography,Drama,Family' 'Drama,Horror,Musical'
 'Comedy,Fantasy,Horror' 'Animation' 'Adventure,Drama,Thriller'
 'Comedy,Drama,Sci-Fi' 'Drama,Family' 'Drama,Mystery,Sci-Fi'
 'Adventure,Comedy,Musical' 'Drama,Thriller,War' 'Action,Comedy'
 'Comedy,Mystery,Thriller' 'Mystery' 'Crime,Drama,Sci-Fi'
 'Animation,Biography,Drama' 'Documentary,History' 'History'
 'Adventure,Drama,Family' 'Biography,Documentary'
 'Adventure,Family,Fantasy' 'Biography,Documentary,History'
 'Adventure,Comedy,Sci-Fi' 'Documentary,History,War' 'Drama,Horror,Sci-Fi'
 'Action,Mystery,Thriller' 'Comedy,Thriller' 'Action,Sport'
 'Action,Comedy,War' 'Biography,Drama,War' 'Adventure,Horror,Mystery'
 'Drama,Musical' 'Comedy,Family,Music' 'Action,Comedy,Family'
 'Comedy,Sport' 'Comedy,Documentary' 'Animation,Drama,History'
 'Adventure,Drama,History' 'Crime,Drama,Fantasy' 'Action,Biography,Crime'
 'Biography,Drama,Thriller' 'Animation,Drama,Fantasy'
 'Horror,Sci-Fi,Thriller' 'Biography,Documentary,Music' 'Action,Western'
 'Family' 'Action,Crime,Horror' 'Biography' 'Documentary,History,Music'
 'Romance,Thriller' 'Fantasy,Horror' 'Adventure' 'Crime,Drama,Music'
 'Adventure,Documentary' 'Adventure,Crime,Drama' 'Drama,Horror,Thriller'
 'Comedy,Family,Mystery' 'Drama,Music,Mystery' 'Drama,Music,War'
 'Drama,Musical,Romance' 'Comedy,Horror,Sci-Fi' 'Musical' 'Horror,Sci-Fi'
 'Crime,Mystery,Romance' 'Crime,Horror,Sci-Fi' 'Drama,Family,Romance'
 'Action,Crime' 'Action,Romance,Sci-Fi' 'Action,Horror' 'Action,War'
 'Crime,Drama,Sport' 'Action,Biography,Drama' 'Adventure,Drama,Fantasy'
 'Comedy,War' 'Drama,Fantasy,History' 'Animation,Drama,Family'
 'Comedy,Drama,Mystery' 'Comedy,Music,War' 'Comedy,Music'
 'Adventure,Comedy' 'Comedy,Romance,Sport' 'Fantasy,Horror,Romance'
 'Adventure,Drama,Horror' 'Animation,Comedy,Crime'
 'Adventure,Comedy,Music' 'Comedy,Horror,Mystery' 'Comedy,Mystery,Romance'
 'Romance' 'Adventure,Sci-Fi,Thriller' 'Comedy,Romance,Sci-Fi'
 'Action,Mystery,Sci-Fi' 'Action,Thriller,Western' 'Action,Thriller,War'
 'Action,Mystery,Romance' 'Comedy,Horror,Romance' 'Action,Comedy,Sci-Fi'
 'Drama,Fantasy,Sport' 'Action,Comedy,Drama' 'Action,Crime,Sci-Fi'
 'Drama,Fantasy,Sci-Fi' 'Comedy,Crime,Music' 'Comedy,Drama,Musical'
 'Comedy,Romance,Western' 'Adventure,Comedy,Sport' 'Action,Horror,Mystery'
 'Adventure,Drama,Sport' 'Adventure,Fantasy,Horror' 'Comedy,Family,Sci-Fi'
 'Action,Horror,Thriller' 'Comedy,Crime,Musical'
 'Adventure,Biography,Comedy' '\\N' 'Sci-Fi' 'Comedy,Western'
 'Drama,Family,Fantasy' 'Documentary,Drama' 'Adventure,Family' 'Western'
 'Biography,Documentary,Drama' 'Biography,Crime,Documentary'
 'Action,Romance,Thriller' 'Drama,Family,History'
 'Adventure,Biography,War' 'Adventure,Western' 'History,Western'
 'Drama,Family,Sport' 'Crime,Family,Fantasy' 'Family,Fantasy'
 'Drama,Sci-Fi' 'Horror,Thriller,Western' 'Animation,Comedy,Fantasy'
 'Action,Drama,Family' 'Drama,Music,Musical' 'Animation,Family'
 'Adventure,Comedy,Romance' 'Comedy,Crime,Family'
 'Action,Animation,Comedy' 'Documentary,News' 'Drama,Romance,Western'
 'Action,Crime,Fantasy' 'Drama,History,Sport' 'Comedy,Romance,Thriller'
 'Animation,Family,Fantasy' 'Adventure,Comedy,Western'
 'Crime,Family,Mystery' 'Action,Crime,History' 'Documentary,Drama,Horror'
 'Adventure,Family,Sci-Fi' 'Crime,Romance' 'Animation,Comedy'
 'Thriller,Western' 'Drama,Thriller,Western' 'Adventure,Sci-Fi,Western'
 'Crime,History,Thriller' 'History,Sci-Fi,Thriller' 'Horror,Romance'
 'Fantasy,Horror,Sci-Fi' 'Documentary,Horror' 'Adventure,Thriller'
 'Mystery,Romance,Thriller' 'Horror,Western' 'Action,Fantasy,Romance'
 'Documentary,Music,Musical' 'Adventure,Comedy,Mystery'
 'Biography,Drama,Fantasy' 'Action,Adventure,Biography' 'Family,Sport'
 'Crime,Fantasy,Horror' 'Biography,Fantasy,Horror'
 'Crime,Documentary,Drama' 'Action,Comedy,Sport' 'Animation,Drama'
 'Biography,Documentary,Sport' 'Comedy,Family,Musical'
 'Drama,History,Western' 'History,Sport,Thriller' 'Drama,Sport,Thriller'
 'Drama,Fantasy,Thriller' 'Fantasy,Sci-Fi' 'Drama,Family,Thriller'
 'Crime,Mystery,Western' 'War' 'Adventure,Romance,Sci-Fi'
 'Action,Drama,Music' 'Documentary,Drama,Sport' 'Drama,Horror,Western'
 'Action,History,Western' 'Adventure,Horror,Sci-Fi'
 'Biography,Documentary,Sci-Fi' 'Documentary,War' 'Horror,Musical,Sci-Fi'
 'Crime,Documentary' 'Action,Animation,Fantasy' 'Adventure,Crime,Thriller'
 'Documentary,Family,News' 'Adventure,Sci-Fi' 'Action,Family'
 'Action,Animation,Sci-Fi' 'Family,Western' 'Animation,Fantasy,Horror'
 'Comedy,Drama,Western' 'Animation,Drama,Sci-Fi' 'Crime,Fantasy,Thriller'
 'Animation,Fantasy,Sci-Fi' 'Comedy,Horror,Music' 'Comedy,Fantasy,Music'
 'Action,Comedy,Musical' 'Action,Drama,Musical' 'Drama,Musical,Thriller'
 'Drama,Family,Musical' 'Crime,Thriller,Western'
 'Biography,Crime,Thriller' 'Mystery,Sci-Fi'
 'Biography,Comedy,Documentary' 'Adventure,Comedy,Horror'
 'Adventure,Horror,Thriller' 'Drama,History,Mystery'
 'Comedy,Documentary,History' 'Drama,Family,Music'
 'Adventure,Fantasy,Sci-Fi' 'Family,Romance' 'Romance,Western'
 'Comedy,Documentary,Drama' 'Adventure,Animation,Fantasy' 'History,War'
 'Biography,Comedy,Music' 'Action,Documentary,History'
 'Adventure,Documentary,Family' 'Animation,Comedy,Musical'
 'Comedy,Crime,Sport' 'Action,History,War' 'Action,Horror,Western'
 'Animation,Drama,Mystery' 'Musical,Romance' 'Adventure,Fantasy'
 'Adventure,Animation' 'Comedy,Family,Western' 'Comedy,Crime,Sci-Fi'
 'Biography,Thriller,Western' 'Comedy,Music,Musical' 'Drama,Fantasy,Music'
 'Adult,Thriller' 'Adult,Drama' 'Drama,Family,Western'
 'Animation,Family,History' 'Action,Comedy,History'
 'Action,Fantasy,History' 'Action,Fantasy' 'Drama,Family,War'
 'Crime,Documentary,War' 'Crime,Horror,Romance' 'Action,Fantasy,Musical'
 'Musical,Thriller' 'Adventure,Comedy,History' 'Comedy,History'
 'Crime,Mystery,Sci-Fi' 'Drama,History,Sci-Fi' 'Fantasy,Mystery,Sci-Fi'
 'Animation,Fantasy' 'Comedy,Fantasy,Mystery' 'Documentary,Drama,History'
 'Comedy,Family,War' 'Action,Adventure,War' 'Romance,Sci-Fi,Thriller'
 'Family,Fantasy,Musical' 'Drama,History,Horror'
 'Action,Animation,Mystery' 'Adult' 'Crime,Drama,Musical'
 'Adventure,Fantasy,Western' 'Adventure,Crime,History'
 'Adventure,Fantasy,Mystery' 'Documentary,Family,History'
 'Comedy,Documentary,Sci-Fi' 'Fantasy' 'Action,Musical,Romance'
 'Biography,Comedy,Romance' 'Animation,Family,Musical' 'Action,Romance'
 'Family,Fantasy,Horror' 'Animation,Comedy,Mystery' 'Crime,Horror'
 'Fantasy,Thriller' 'Biography,Comedy' 'Comedy,Crime,Horror'
 'Action,Sci-Fi,Sport' 'Comedy,Mystery,Sci-Fi' 'Family,Music,Romance'
 'Documentary,History,Sport' 'Drama,Sci-Fi,War' 'Crime,Drama,Family'
 'Comedy,Fantasy,Musical' 'Comedy,Horror,Musical' 'Music'
 'Drama,Horror,Music' 'Action,Comedy,Music'
 'Adventure,Documentary,History' 'Biography,Fantasy,Musical'
 'History,Sport' 'Biography,History' 'Action,Family,Mystery'
 'Action,Animation,Drama' 'Animation,Comedy,Romance' 'Action,Animation'
 'Comedy,Fantasy,Sci-Fi' 'Crime,Mystery' 'Animation,Drama,War'
 'Documentary,Family,Sport' 'Action,Animation,Crime'
 'Documentary,Drama,War' 'Mystery,Romance' 'Animation,Documentary,History'
 'Documentary,Romance' 'Biography,Musical' 'Biography,Fantasy'
 'Family,Thriller' 'Animation,Comedy,Horror' 'Crime,History'
 'Animation,Comedy,Music' 'Romance,Sci-Fi' 'Action,Animation,Family'
 'Animation,Sci-Fi' 'Action,Biography,History' 'Sport'
 'Animation,Comedy,Sci-Fi' 'Biography,History,War'
 'Biography,History,Romance' 'Animation,Family,Music' 'Drama,Mystery,War'
 'Biography,Drama,Musical' 'Action,Biography,Comedy'
 'Comedy,Crime,History' 'Animation,Musical' 'Drama,History,Musical'
 'Family,Musical' 'Biography,Documentary,Mystery'
 'Animation,Biography,Documentary' 'Biography,Romance,War'
 'Drama,Musical,Mystery' 'Animation,Mystery' 'Fantasy,Romance'
 'Action,Adventure,Documentary' 'Adult,Drama,Romance'
 'Documentary,Mystery' 'Adventure,Romance' 'Crime,Documentary,Mystery'
 'Documentary,History,Sci-Fi' 'Action,Musical' 'Action,Reality-TV'
 'Documentary,Drama,Sci-Fi' 'Adult,Comedy,Fantasy'
 'Adventure,Mystery,Sci-Fi' 'Animation,Horror' 'Documentary,Drama,Music'
 'Drama,Fantasy,Musical' 'Action,Family,Thriller' 'Comedy,Sport,Thriller'
 'Documentary,Musical' 'Adventure,History' 'Animation,Documentary,Drama'
 'Adult,Comedy,Horror' 'Family,Sci-Fi' 'History,Thriller,War'
 'Crime,Documentary,History' 'Action,Sport,Thriller'
 'Crime,Documentary,Horror' 'Crime,Documentary,News'
 'Biography,Documentary,Romance' 'Horror,Mystery,Romance'
 'History,Horror,Sci-Fi' 'Adventure,Family,Romance' 'Adventure,Mystery'
 'Animation,Crime,Mystery' 'Adventure,Mystery,Thriller' 'History,Thriller'
 'Adult,Fantasy' 'Animation,Drama,Romance' 'Comedy,Documentary,War'
 'Action,Family,Musical' 'Drama,History,Music' 'Animation,Fantasy,Romance'
 'Action,Comedy,Mystery' 'Animation,Fantasy,Music'
 'Adventure,Documentary,Sport' 'Action,Biography,Thriller'
 'Biography,History,Music' 'Animation,Documentary' 'Drama,Mystery,Western'
 'Biography,Thriller' 'Adventure,Family,History' 'Drama,Family,Sci-Fi'
 'Documentary,Family,Mystery' 'Biography,Drama,Horror'
 'Adventure,Biography,Crime' 'Adventure,Animation,Sci-Fi'
 'Crime,Drama,War' 'Adventure,Biography,Documentary' 'Adult,Sci-Fi'
 'Comedy,Musical,Mystery' 'Documentary,History,Romance'
 'Crime,Drama,Western' 'History,Romance' 'Animation,Drama,Music'
 'Biography,Comedy,Sci-Fi' 'Adventure,Animation,Documentary'
 'Family,Music,Musical' 'Fantasy,Music,Romance' 'Fantasy,Music'
 'Adventure,Documentary,Drama' 'Adventure,Musical,Sci-Fi'
 'Adventure,History,Romance' 'Action,History,Thriller'
 'Adult,Biography,Documentary' 'Fantasy,History' 'Comedy,Family,Horror'
 'Crime,Documentary,Sport' 'Adventure,War' 'Family,Fantasy,Sci-Fi'
 'Action,Biography' 'Biography,Crime,Horror' 'Crime,Sci-Fi,Thriller'
 'Drama,Music,Thriller' 'Animation,Drama,Thriller' 'Fantasy,Mystery'
 'Adventure,Fantasy,Romance' 'Adventure,Animation,Musical'
 'Action,Adventure,Western' 'Animation,Comedy,Thriller'
 'Action,Documentary,Drama' 'Animation,Mystery,Romance' 'Drama,Sport,War'
 'Comedy,Fantasy,Thriller' 'Biography,Documentary,Thriller'
 'Action,Biography,Documentary' 'Action,Romance,Sport'
 'Documentary,Drama,Family' 'Music,Sport' 'Horror,Sport'
 'Action,Adult,Comedy' 'Horror,Reality-TV,Thriller'
 'Comedy,Documentary,Music' 'Comedy,Documentary,Family'
 'Adventure,Family,Mystery' 'Animation,Drama,Horror'
 'Animation,Crime,Drama' 'Mystery,Romance,Sci-Fi'
 'Adventure,Fantasy,Thriller' 'Action,Documentary'
 'Biography,Documentary,News' 'Documentary,Horror,Musical'
 'Adventure,Animation,History' 'Animation,Comedy,History'
 'Adventure,Biography,History' 'Action,Adult,Animation' 'Biography,Sport'
 'Animation,Romance,Sci-Fi' 'Adventure,Family,Musical' 'Family,Mystery'
 'Drama,Musical,Sport' 'Documentary,Drama,Fantasy' 'Family,Fantasy,Music'
 'Documentary,Family,Music' 'Adventure,Crime' 'Crime,Documentary,Music'
 'Adventure,History,Sci-Fi' 'Action,Musical,Mystery'
 'Family,Musical,Romance' 'Adventure,Horror' 'Comedy,Documentary,Musical'
 'Horror,Thriller,War' 'Comedy,History,Romance' 'Family,Horror'
 'Adventure,Mystery,Romance' 'Adult,Comedy' 'Family,Horror,Thriller'
 'Animation,Romance' 'Action,Crime,Documentary' 'Biography,Family,History'
 'Action,Comedy,Documentary' 'Action,History,Mystery'
 'Biography,Documentary,Family' 'Biography,Music' 'Biography,Family,Sport'
 'Adult,Drama,Fantasy' 'Action,Animation,Horror'
 'Comedy,Crime,Documentary' 'Documentary,Thriller'
 'Documentary,Drama,News' 'Family,Sci-Fi,Thriller'
 'Adventure,Horror,Romance' 'Biography,Comedy,History'
 'Fantasy,Sci-Fi,Thriller' 'Documentary,Fantasy,Sci-Fi'
 'Adventure,History,War' 'Action,History,Romance' 'Documentary,Fantasy'
 'Comedy,Family,Thriller' 'Action,Family,Fantasy'
 'Animation,Biography,History' 'Animation,History'
 'Adventure,Crime,Family' 'Documentary,Drama,Romance'
 'Drama,Mystery,Sport' 'Musical,Romance,Thriller'
 'Adventure,Drama,Musical' 'Mystery,Western' 'Documentary,Sci-Fi'
 'Adult,Horror' 'Action,Romance,War' 'Adult,Romance'
 'Adult,Adventure,Drama' 'Mystery,Thriller,Western'
 'Action,Documentary,Sport' 'Adventure,Comedy,Documentary'
 'Documentary,History,Mystery' 'Comedy,Mystery,War' 'Romance,War'
 'Documentary,Horror,Sci-Fi' 'Adventure,Animation,Crime' 'Animation,Sport'
 'Animation,Fantasy,War' 'Crime,Family' 'Biography,Documentary,Horror'
 'Action,History' 'Fantasy,History,Romance' 'Comedy,Fantasy,History'
 'Horror,Musical' 'Comedy,Documentary,Romance'
 'Animation,Biography,Family' 'Comedy,Sci-Fi,Thriller' 'Biography,Sci-Fi'
 'Biography,Crime,Fantasy' 'Documentary,Drama,Mystery'
 'Action,Comedy,Western' 'Documentary,Mystery,Thriller' 'Action,Music'
 'Crime,Music,Mystery' 'Crime,Horror,Music' 'Comedy,Music,Sci-Fi'
 'Adventure,Animation,Biography' 'Adventure,Biography'
 'Action,Biography,War' 'Crime,Sci-Fi' 'Documentary,History,Western'
 'Thriller,War' 'Comedy,Crime,Western' 'Drama,Horror,War'
 'Adult,Crime,Drama' 'Fantasy,Romance,Thriller' 'Family,War'
 'Animation,Drama,Sport' 'Documentary,Drama,Thriller'
 'Comedy,Drama,Reality-TV' 'Fantasy,Musical,Sci-Fi' 'Comedy,Horror,Sport'
 'Animation,Biography,Crime' 'Drama,Musical,War'
 'History,Romance,Thriller' 'Crime,Fantasy,Romance' 'Adult,Comedy,Drama'
 'Mystery,War' 'Adult,Drama,Thriller' 'Drama,Musical,Sci-Fi'
 'Documentary,Drama,Musical' 'Action,Horror,Romance'
 'Documentary,Talk-Show' 'Crime,Fantasy,Sci-Fi'
 'Animation,Fantasy,Mystery' 'Animation,Sci-Fi,War' 'Reality-TV'
 'Adult,Drama,Sci-Fi' 'Documentary,Horror,Thriller' 'Documentary,Western'
 'Adventure,Crime,Horror' 'Comedy,Music,Mystery' 'Action,Fantasy,Mystery'
 'Adult,Comedy,Romance' 'Animation,Documentary,Family'
 'Adventure,Drama,Music' 'Action,Adult' 'Documentary,History,Horror'
 'Adult,Romance,Sci-Fi' 'Action,Horror,War' 'Crime,Documentary,Thriller'
 'Adventure,Documentary,Fantasy' 'Adventure,Fantasy,History' 'News'
 'Animation,Comedy,Documentary' 'Documentary,Music,Sport'
 'Comedy,Documentary,Horror' 'Action,Music,Musical'
 'Fantasy,Horror,Musical' 'Musical,Sci-Fi' 'Animation,Comedy,War'
 'Fantasy,Romance,Sci-Fi' 'Action,Mystery' 'Action,Crime,Family'
 'Music,Reality-TV' 'Sci-Fi,War' 'Animation,Music' 'Biography,Crime'
 'Documentary,Reality-TV' 'Action,Musical,Thriller'
 'Biography,Fantasy,War' 'Action,Documentary,News'
 'Documentary,Fantasy,History' 'Adventure,Family,Western'
 'Animation,Sci-Fi,Thriller' 'Biography,Documentary,Musical'
 'Adventure,Documentary,Horror' 'History,Music,Musical'
 'Animation,Biography,Comedy' 'Documentary,Music,Sci-Fi'
 'Adventure,Crime,Fantasy' 'Animation,Fantasy,Thriller' 'Animation,War'
 'Drama,Family,Horror' 'Music,Musical' 'Drama,Fantasy,War'
 'Adventure,Biography,Western' 'Romance,Sport' 'Biography,Family,Musical'
 'Comedy,Reality-TV,Talk-Show' 'Animation,Fantasy,Musical'
 'Adventure,Family,Music' 'Action,Fantasy,War' 'History,Musical'
 'Animation,Horror,Mystery' 'Romance,Thriller,War'
 'Animation,Mystery,Sci-Fi' 'Action,Animation,Romance'
 'Adventure,Animation,Horror' 'Biography,Horror'
 'Biography,Comedy,Mystery' 'Biography,Romance' 'Animation,Western'
 'Adult,Adventure,Mystery' 'Comedy,Documentary,News'
 'Crime,Horror,Musical' 'Biography,Documentary,Fantasy'
 'Documentary,Music,Thriller' 'Crime,Family,Horror'
 'Biography,Thriller,War' 'Adventure,Animation,Music'
 'Fantasy,Musical,Romance' 'Crime,Music,Thriller' 'Action,Animation,Music'
 'History,Horror' 'Animation,Musical,Romance' 'Fantasy,Musical'
 'Crime,History,Mystery' 'History,Romance,War' 'Animation,Horror,Sci-Fi'
 'Animation,Biography' 'Animation,History,Musical' 'Action,Family,Romance'
 'Music,Mystery,Thriller' 'Action,Animation,Sport'
 'Documentary,History,Thriller' 'Comedy,History,War' 'Music,Romance'
 'Documentary,Sport,Talk-Show' 'Sport,War' 'Animation,Crime,Documentary'
 'History,Sci-Fi' 'Documentary,History,Musical' 'Adult,Fantasy,Romance'
 'Drama,Sci-Fi,Western' 'Horror,Music' 'Musical,War'
 'Action,Adventure,Music' 'Animation,Family,Romance' 'Adventure,Musical'
 'Action,Sci-Fi,War' 'Comedy,History,Musical' 'Drama,Music,Sci-Fi'
 'Animation,Biography,Fantasy' 'Documentary,News,War'
 'Fantasy,History,Horror' 'Crime,Thriller,War'
 'Documentary,Sport,Thriller' 'Drama,Horror,Sport' 'Fantasy,Music,Musical'
 'Horror,Music,Mystery' 'Documentary,Fantasy,Mystery' 'Action,Crime,Sport'
 'Documentary,Mystery,Sci-Fi' 'Animation,Music,Thriller'
 'Adventure,History,Western' 'Crime,Fantasy,Mystery'

In [39]:
# Filtrer les lignes où 'genres' contient 'Adventure' ou 'Comedy'
filtred_df = df_net[df_net['genres'].str.contains('Adventure|Comedy', na=False)]

display(filtred_df.head(15))

,tconst,averageRating,numVotes,ordering,nconst,category,title,language,types,startYear,endYear,runtimeMinutes,genres,primaryName,birthYear,deathYear,knownForTitles
81,tt0272183,NaN,NaN,1.0,nm0000002,actress,Madeline: Lost in Paris,en,imdbDisplay,1999.0,NaN,74.0,"Adventure,Animation,Comedy",NaN,NaN,NaN,NaN
497,tt0099615,6.5,22379.0,1.0,nm0000008,actor,The Freshman,en,imdbDisplay,1990.0,NaN,102.0,"Comedy,Crime",NaN,NaN,NaN,NaN
499,tt0103962,NaN,NaN,1.0,nm0000008,actor,Christopher Columbus: The Discovery,en,imdbDisplay,1992.0,NaN,120.0,"Adventure,Biography,Drama",NaN,NaN,NaN,NaN
501,tt0120678,NaN,NaN,1.0,nm0000008,actor,Free Money,en,imdbDisplay,1998.0,NaN,94.0,"Comedy,Crime",NaN,NaN,NaN,NaN
1545,tt0103194,NaN,NaN,1.0,nm0000018,actor,Veraz,fr,imdbDisplay,1991.0,NaN,100.0,"Adventure,Drama",NaN,NaN,NaN,NaN
1550,tt0167423,5.4,1823.0,1.0,nm0000018,actor,La Magie des diamants,fr,imdbDisplay,1999.0,NaN,91.0,"Comedy,Mystery",NaN,NaN,NaN,NaN
1553,tt0311110,5.5,5292.0,1.0,nm0000018,actor,Une affaire de famille,fr,imdbDisplay,2003.0,NaN,109.0,"Comedy,Drama,Romance",NaN,NaN,NaN,NaN
3568,tt0098244,NaN,NaN,1.0,nm0000047,actress,"Saturday, Sunday and Monday",en,imdbDisplay,1990.0,NaN,119.0,Comedy,NaN,NaN,NaN,NaN
3569,tt0110907,5.2,16117.0,1.0,nm0000047,actress,Prêt-à-porter,fr,imdbDisplay,1994.0,NaN,133.0,"Comedy,Drama",NaN,NaN,NaN,NaN
3918,tt0117968,6.8,1604.0,1.0,nm0000052,actor,Three Lives and Only One Death,en,imdbDisplay,1996.0,NaN,123.0,"Comedy,Crime,Fantasy",NaN,NaN,NaN,NaN
4279,tt0110684,7.3,23002.0,1.0,nm0000056,actor,Nobody's Fool,en,imdbDisplay,1994.0,NaN,110.0,"Comedy,Drama",NaN,NaN,NaN,NaN
4285,tt0149367,6.3,6544.0,1.0,nm0000056,actor,Where the Money Is,en,imdbDisplay,2000.0,NaN,89.0,"Comedy,Crime,Drama",NaN,NaN,NaN,NaN
5562,tt0101329,6.5,28929.0,1.0,nm0000071,actor,An American Tail: Fievel Goes West,en,imdbDisplay,1991.0,NaN,75.0,"Adventure,Animation,Family",NaN,NaN,NaN,NaN
6435,tt0105197,7.5,6833.0,1.0,nm0000084,actress,The Story of Qiu Ju,en,imdbDisplay,1992.0,NaN,100.0,"Comedy,Drama",NaN,NaN,NaN,NaN
6693,tt0119115,6.4,25955.0,1.0,nm0000092,actor,Fierce Creatures,en,imdbDisplay,1997.0,NaN,93.0,Comedy,NaN,NaN,NaN,NaN

In [40]:
filtred_df.shape

(28310, 17)

In [41]:
# Calculer le nombre de valeurs NaN dans la colonne 'category'
num_nan_category = filtred_df['category'].isna().sum()

print(f"Nombre de valeurs NaN dans la colonne 'category' : {num_nan_category}")

Nombre de valeurs NaN dans la colonne 'category' : 40

In [42]:
# Obtenir le nombre de valeurs uniques dans la colonne 'primaryName'
num_unique_genres = filtred_df['primaryName'].nunique()

print(f"Nombre de valeurs uniques dans la colonne 'primaryName' : {num_unique_genres}")

Nombre de valeurs uniques dans la colonne 'primaryName' : 5238

In [43]:
# Obtenir les valeurs uniques dans la colonne 'endYear'
end_year = filtred_df['endYear'].unique()
print(end_year)

[nan]

In [44]:
# Obtenir les valeurs uniques dans la colonne 'deathYear'
death_year = filtred_df['deathYear'].unique()
print(death_year)

[nan]

In [45]:
#supression des colonnes 'endYear'et 'deathYear'
filtred_df = filtred_df.drop(columns=['endYear', 'deathYear'])

In [46]:
filtred_df.shape

(28310, 15)

In [47]:
filtred_df.head(10)

,tconst,averageRating,numVotes,ordering,nconst,category,title,language,types,startYear,runtimeMinutes,genres,primaryName,birthYear,knownForTitles
81,tt0272183,NaN,NaN,1.0,nm0000002,actress,Madeline: Lost in Paris,en,imdbDisplay,1999.0,74.0,"Adventure,Animation,Comedy",NaN,NaN,NaN
497,tt0099615,6.5,22379.0,1.0,nm0000008,actor,The Freshman,en,imdbDisplay,1990.0,102.0,"Comedy,Crime",NaN,NaN,NaN
499,tt0103962,NaN,NaN,1.0,nm0000008,actor,Christopher Columbus: The Discovery,en,imdbDisplay,1992.0,120.0,"Adventure,Biography,Drama",NaN,NaN,NaN
501,tt0120678,NaN,NaN,1.0,nm0000008,actor,Free Money,en,imdbDisplay,1998.0,94.0,"Comedy,Crime",NaN,NaN,NaN
1545,tt0103194,NaN,NaN,1.0,nm0000018,actor,Veraz,fr,imdbDisplay,1991.0,100.0,"Adventure,Drama",NaN,NaN,NaN
1550,tt0167423,5.4,1823.0,1.0,nm0000018,actor,La Magie des diamants,fr,imdbDisplay,1999.0,91.0,"Comedy,Mystery",NaN,NaN,NaN
1553,tt0311110,5.5,5292.0,1.0,nm0000018,actor,Une affaire de famille,fr,imdbDisplay,2003.0,109.0,"Comedy,Drama,Romance",NaN,NaN,NaN
3568,tt0098244,NaN,NaN,1.0,nm0000047,actress,"Saturday, Sunday and Monday",en,imdbDisplay,1990.0,119.0,Comedy,NaN,NaN,NaN
3569,tt0110907,5.2,16117.0,1.0,nm0000047,actress,Prêt-à-porter,fr,imdbDisplay,1994.0,133.0,"Comedy,Drama",NaN,NaN,NaN
3918,tt0117968,6.8,1604.0,1.0,nm0000052,actor,Three Lives and Only One Death,en,imdbDisplay,1996.0,123.0,"Comedy,Crime,Fantasy",NaN,NaN,NaN

In [48]:
# Obtenir les valeurs uniques dans la colonne 'knownForTitles'
for_titles = filtred_df['knownForTitles'].unique()
print(for_titles)

[nan 'tt0115963,tt0181875,tt0089908,tt0120586'
 'tt0160127,tt0151738,tt0343660,tt0120631' ...
 'tt14922556,tt30461027,tt33440748,tt28116092'
 'tt19328882,tt10235670,tt10495912,tt31158586'
 'tt14902026,tt10867768,tt21379234,tt13294064']

In [49]:
# Calculer le nombre de valeurs NaN dans la colonne 'knownForTitles'
num_nan_for_titles = filtred_df['knownForTitles'].isna().sum()

print(f"Nombre de valeurs NaN dans la colonne 'knownForTitles' : {num_nan_for_titles}")

Nombre de valeurs NaN dans la colonne 'knownForTitles' : 19122

In [50]:
#supression de la colonne 'knownForTitles'
filtred_df = filtred_df.drop(columns=['knownForTitles'])

In [51]:
filtred_df.shape

(28310, 14)

In [52]:
# Calculer le nombre de valeurs NaN dans la colonne 'primaryName'
num_nan_primary_name = filtred_df['primaryName'].isna().sum()

print(f"Nombre de valeurs NaN dans la colonne 'primaryName' : {num_nan_primary_name}")

Nombre de valeurs NaN dans la colonne 'primaryName' : 19122

In [53]:
# Supprimer les lignes où la colonne 'primaryName' contient des valeurs NaN
final_df = filtred_df.dropna(subset=['primaryName'])
display(final_df.head(15))

,tconst,averageRating,numVotes,ordering,nconst,category,title,language,types,startYear,runtimeMinutes,genres,primaryName,birthYear
9007,tt0139645,NaN,NaN,1.0,nm0000103,actress,Life in the Fast Lane,en,imdbDisplay,1998.0,92.0,Comedy,Fairuza Balk,1974.0
9315,tt0119304,5.1,9061.0,1.0,nm0000106,actress,Home Fries,en,imdbDisplay,1998.0,91.0,"Comedy,Drama,Romance",Drew Barrymore,1975.0
9316,tt0120523,NaN,NaN,1.0,nm0000106,actress,Wishful Thinking,en,imdbDisplay,1997.0,93.0,"Comedy,Romance",Drew Barrymore,1975.0
9326,tt0151738,6.0,99378.0,1.0,nm0000106,actress,Never Been Kissed,en,imdbDisplay,1999.0,107.0,"Comedy,Drama,Romance",Drew Barrymore,1975.0
9335,tt0200027,6.5,30914.0,1.0,nm0000106,actress,Riding in Cars with Boys,en,imdbDisplay,2001.0,132.0,"Biography,Comedy,Drama",Drew Barrymore,1975.0
9340,tt0305357,NaN,NaN,1.0,nm0000106,actress,Charlie's Angels: Full Throttle,en,imdbDisplay,2003.0,106.0,"Action,Adventure,Comedy",Drew Barrymore,1975.0
9348,tt0332047,6.2,48499.0,1.0,nm0000106,actress,The Perfect Catch,en,imdbDisplay,2005.0,104.0,"Comedy,Drama,Romance",Drew Barrymore,1975.0
9363,tt1014775,NaN,NaN,1.0,nm0000106,actress,Beverly Hills Chihuahua,en,imdbDisplay,2008.0,91.0,"Adventure,Comedy,Drama",Drew Barrymore,1975.0
9366,tt1322312,6.3,60280.0,1.0,nm0000106,actress,Going the Distance,en,imdbDisplay,2010.0,102.0,"Comedy,Romance",Drew Barrymore,1975.0
9377,tt2245003,6.8,20151.0,1.0,nm0000106,actress,Irremplaçable,fr,imdbDisplay,2015.0,112.0,"Comedy,Drama,Romance",Drew Barrymore,1975.0
9417,tt7970348,NaN,NaN,1.0,nm0000106,actress,The Stand In,en,imdbDisplay,2020.0,101.0,"Comedy,Drama",Drew Barrymore,1975.0
11003,tt0144640,6.1,20308.0,1.0,nm0000117,actress,Three to Tango,en,imdbDisplay,1999.0,98.0,"Comedy,Romance",Neve Campbell,1973.0
11014,tt0831299,NaN,NaN,1.0,nm0000117,actress,I Really Hate My Job,en,imdbDisplay,2007.0,90.0,"Comedy,Drama",Neve Campbell,1973.0
13482,tt0119910,5.5,3460.0,1.0,nm0000132,actress,Mariage à la polonaise,fr,working,1998.0,105.0,"Comedy,Drama,Romance",Claire Danes,1979.0
14731,tt0120744,6.5,181838.0,1.0,nm0000138,actor,The Man in the Iron Mask,en,imdbDisplay,1998.0,132.0,"Action,Adventure,Drama",Leonardo DiCaprio,1974.0

In [54]:
# Calculer le nombre de valeurs NaN dans chaque colonne
nan_count_per_column = final_df.isna().sum()

# Afficher le résultat
print(nan_count_per_column)

tconst               0
averageRating     5779
numVotes          5779
ordering             0
nconst               0
category             0
title                0
language             0
types                0
startYear            0
runtimeMinutes     271
genres               0
primaryName          0
birthYear            0
dtype: int64

In [55]:
# 1. Supprimer les lignes où runtimeMinutes affiche des NaN
final_df = final_df.dropna(subset=['runtimeMinutes'])

# 2. Remplacer les NaN des colonnes averageRating et numVotes par les moyennes
final_df['averageRating'].fillna(final_df['averageRating'].mean(), inplace=True)
final_df['numVotes'].fillna(final_df['numVotes'].mean(), inplace=True)

# Pour remplacer par les médianes
# final_df['averageRating'].fillna(final_df['averageRating'].median(), inplace=True)
# final_df['numVotes'].fillna(final_df['numVotes'].median(), inplace=True)

# Vérifier le résultat
print(final_df.isna().sum())

tconst            0
averageRating     0
numVotes          0
ordering          0
nconst            0
category          0
title             0
language          0
types             0
startYear         0
runtimeMinutes    0
genres            0
primaryName       0
birthYear         0
dtype: int64

C:\Users\Win10\AppData\Local\Temp\ipykernel_20080\2649203221.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['averageRating'].fillna(final_df['averageRating'].mean(), inplace=True)
C:\Users\Win10\AppData\Local\Temp\ipykernel_20080\2649203221.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['numVotes'].fillna(final_df['numVotes'].mean(), inplace=True)

In [56]:
final_df.shape

(8917, 14)

In [57]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8917 entries, 9007 to 8050721
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          8917 non-null   object
 1   averageRating   8917 non-null   float64
 2   numVotes        8917 non-null   float64
 3   ordering        8917 non-null   float64
 4   nconst          8917 non-null   object
 5   category        8917 non-null   object
 6   title           8917 non-null   object
 7   language        8917 non-null   object
 8   types           8917 non-null   object
 9   startYear       8917 non-null   float64
 10  runtimeMinutes  8917 non-null   float64
 11  genres          8917 non-null   object
 12  primaryName     8917 non-null   object
 13  birthYear       8917 non-null   float64
dtypes: float64(6), object(8)
memory usage: 1.0+ MB

In [58]:
# Sauvegarder le DataFrame nettoyé 
final_df.to_csv('C:/Users/Win10/Desktop/projet 2 bdd/table_principale.csv', index=False)