In [3]:
import pandas as pd
url = "https://datasets.imdbws.com/title.akas.tsv.gz"
df = pd.read_csv(url, sep = '\t', na_values=["\\N", "NaN", ""])
display(df.head(5))

C:\Users\dassi\AppData\Local\Temp\ipykernel_5824\1057135892.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url, sep = '\t', na_values=["\\N", "NaN", ""])

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,NaN,NaN,original,NaN,1
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita,US,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0

In [4]:

# Étape 1 : Nettoyage du DataFrame
# Supprimer les colonnes non pertinentes
df = df.drop(columns=['ordering', 'attributes'], errors='ignore')

# Effacer NaN et supprimer les doublons
df = df.dropna(subset=['types']).drop_duplicates()


# Supprimer les lignes où des colonnes importantes sont NaN
df = df.dropna(subset=['title', 'region', 'language'])

In [8]:
df_us = df[df['region'] == 'US']
print(df_us)

            titleId                                title region language  \
15316     tt0004972          El nacimiento de una nación     US       es
19874     tt0006432                       Alma Diabolica     US       es
40623     tt0011904                      As de corazones     US       es
47765     tt0013442                            Nosferatu     US       es
59116     tt0015624                      El gran desfile     US       es
...             ...                                  ...    ...      ...
50447086  tt9873892                    Clonaron a Tyrone     US       es
50450036  tt9874910           Ancient Greek Philosophers     US       en
50464714  tt9881938    Saturday Night Live: Cut for Time     US       es
50486969  tt9893250                Descuida, yo te cuido     US       es
50489100  tt9894516  Oni: La leyenda del dios del trueno     US       es

                types  isOriginalTitle
15316     imdbDisplay                0
19874     alternative                0
40623     imdbDisplay                0
47765     imdbDisplay                0
59116     imdbDisplay                0
...               ...              ...
50447086  imdbDisplay                0
50450036  imdbDisplay                0
50464714  imdbDisplay                0
50486969  imdbDisplay                0
50489100  imdbDisplay                0

[5972 rows x 6 columns]